:root {
	--fs-heading: 3.75rem;
	--fs-body: 1.125rem;
	--fs-button: 1rem;
	--fs-small: 0.875rem;

	--clr-btn: #2a4dd0;
	--clr-green: #4ca154;
	--clr-black: #111729;
	--clr-gray-200: #223344;
	--clr-gray-100: #909193;
	--clr-white-200: #f2f9fe;
	--clr-white-100: #ffffff;

	--fw-semi-bold: 600;
	--font-bold: 700;

	--header-height: 3.5rem;

	--ff-body: "Poppins", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

.nav__dark-mode {
	display: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--ff-body);
	color: var(--clr-gray-200);
}

/* Reusable Class */
.container {
	margin-inline: 24px;
}

.section {
	padding-block: 5rem 1rem;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

.nav {
	position: relative;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__close,
.nav__toggle {
	font-size: 1.5rem;
	color: var(--clr-black);
	cursor: pointer;
	transition: 0.4s;
}

@media screen and (max-width: 1020px) {
	.nav__menu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 60%;
		height: 100%;
		background-color: var(--clr-white-200);
		border-left: 2px solid var(--clr-gray-100);
		padding: 7.5rem 3.5rem 0;
		transition: right 0.4s;
	}
}

.nav__list {
	display: flex;
	flex-direction: column;
	row-gap: 4rem;
}

.nav__link {
	font-weight: var(--fw-semi-bold);
	color: var(--clr-gray-100);
	transition: color 0.4s;
}

.active {
	color: var(--clr-black);
}

.nav__link:hover {
	color: var(--clr-btn);
}

.nav__close {
	position: absolute;
	top: 0.8rem;
	right: 1.5rem;
}

.show-menu {
	right: 0;
}

.home {
	margin-top: 4rem;
	display: grid;
}

.home__image {
	justify-self: center;
	max-width: 600px;
}

.home__content {
	margin-top: 6rem;
	padding: 4rem;
}

@media screen and (max-width: 1020px) {
	.home__content > * + * {
		margin-top: 1.5rem;
	}

	.home__content > *:last-child {
		margin-top: 2.7rem;
	}

	.home__content > *:nth-child(4) {
		margin-top: 2.5rem;
	}
}

.home__content-subtitle {
	text-transform: uppercase;
}

.home__content-title {
	font-size: var(--fs-heading);
	font-weight: var(--font-bold);
}

@media screen and (min-width: 1020px) {
	.home__content-title {
		font-size: 3rem;
		line-height: 1.5;
		max-width: 300px;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

  .home__content > *:nth-child(4) {
		margin-top: 2rem;
	}

  .home__content > *:last-child {
		margin-top: 2rem;
	}

	
}

.home__content-description {
	font-size: 1.2rem;
	max-width: 445px;
}

.home__content-btns {
	display: flex;
	align-items: center;
	column-gap: 3rem;
}

.get-started {
	padding: 1.2rem 2rem;
	background-color: var(--clr-btn);
	color: var(--clr-white-100);
	font-size: var(--fs-button);
	font-weight: var(--font-bold);
	text-transform: uppercase;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	letter-spacing: 1px;
	cursor: pointer;
	transition: border-color 0.4s, background-color 0.4s;
}
.get-started:hover {
	background-color: #007bff; /* Change to your desired color */
	color: white; /* Change text color */
	border-color: #0056b3;
}

.get-live-btn {
	text-decoration: underline;
	color: var(--clr-btn);
	font-weight: var(--fw-semi-bold);
	text-underline-offset: 0.4rem;
	text-decoration-thickness: 0.1rem;
	transition: color 0.4s, text-decoration 0.4s;
}

.get-live-btn:hover {
	color: #007bff;
	text-decoration: none;
}

.flex {
	display: flex;
	align-items: center;
	column-gap: 0.3rem;
}

.flex img {
	display: inline-block;
}

.flex-box {
	column-gap: 1.7rem;
}

@media screen and (min-width: 1020px) {
	.home {
		grid-template-columns: repeat(2, 1fr);
	}

	.section {
		padding-block: 6rem 1rem;
	}

	.home__image {
		order: 2;
	}

	.home__content {
    order: 1;
		padding: 0;
    padding-left: 4rem;
		margin-top: 0;
		margin-inline: 5rem;
	}
	.nav {
		height: calc(var(--header-height) + 2rem);
	}
	.container {
		margin-inline: 5rem;
	}

	.home__image img {
		width: 520px;
	}
  
	.nav__menu {
		width: initial;
	}
	.nav__list {
		flex-direction: row;
		align-items: center;
		column-gap: 4rem;
	}

	.nav__close,
	.nav__toggle {
		display: none;
	}

	.nav__dark-mode {
		display: flex;
		align-items: center;
		background-color: var(--clr-gray-200);
		border-radius: 50px;
		padding: 0.3rem 0.3rem;
		gap: 0.4rem;
	}

	.sun {
		background-color: var(--clr-white-100);
		border-radius: 50%;
	}
}
